<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>mail | NexToU</title>
	<link rel="shortcut icon" href="pic/NTU.jpg" type="image/png">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the '4 Col Portfolio' Template -->
    <link href="css/4-col-portfolio.css" rel="stylesheet">
	<style>
		#search {
		width: 202px;
		height: 32px;
		margin: 1% 0 0 45%;
		float: left;
		background: url(http://lh4.ggpht.com/_HjB26hkIEK8/S4ef8dinkyI/AAAAAAAAKMs/GJwru6v7zk4/Search%20012.png) no-repeat;
		}
		#s {
		width: 160px;
		margin: 7px 0 0 4px;
		float: left;
		border: none;
		background: none;
		color: #000000;
		font-family: Arial;
		}
		#r {
		width: 25px;
		height: 25px;
		margin: 3px 2px 0 0;
		float: right;
		cursor: pointer;
		border: none;
		background: none;
		}
	</style>	
	
</head>

<body>
	<img src="pic/LOGO.png" width=20% style="float:left" hspace="20" vspace="10"></img>
	<br><br>

	<br><br>
	<p align="center"></p>
	<div align="center">
		<center>
			<table border="0" width="65%" bgcolor="#FFCCCC">
				<tr>
					<td width="100%">
						<form action="mailto:#" method="POST" enctype="text/plain">
						<!-- not sure how to get the email address of the person user wants to connect. -->
							<div align="left">
								<p><font color="#000080">
									Your name :<input type="text" name="姓名" size="20"><br>
									<!-- Here we should show the user's name address automatically -->
								</font></p>
								<p><font color="#000080">
									Your Email :<input type="text" name="Email" size="40"><br>
									<!-- Here we should show the user's email address automatically -->
								</font></p>
							</div> 
							<div align="left"> 
								<p><font color="#000080">content:<br></font>
								<textarea name="content" rows="5" cols="80"> </textarea></p> 
							</div> 
							<div align="center"> 
								<p><a href="javascript:window.close()"><img border="0" src="pic/cancel.png" ></a>
								<button type="submit" class="btn btn-primary">send</button></p> 
							</div> 
						</form> 
					</td> 
				</tr> 
			</table> 
		</center> 
	</div>
	</div>
	<!-- /.container -->

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>